<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="RoundedFormsExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<RoundedFormsExample.Properties.Settings>
			<setting name="TopMost" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FormOpacity" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="UICornerRadius" serializeAs="String">
				<value>12</value>
			</setting>
			<setting name="UITitleBarHeight" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="UIBorderSize" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="UIShowIcon" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Setting" serializeAs="String">
				<value>Test</value>
			</setting>
		</RoundedFormsExample.Properties.Settings>
	</userSettings>
</configuration>